<%# location name, description, tag, coordinates%>

<h2> <%=@location.name %></h2>
<p><%=@location.description %></p>
<p> <b>Tag:</b> <%=@location.tag %></p>
<p> <b>Coordinates:</b> <%=@location.coordinates %></p>


<%# events%>
<table> 
    <tr>
        <th>name</th>
        <th>description</th>
        <th>start date</th>
        <th>end date</th>
    </tr>
<% @location.events.each do |eve| %>
    <tr>
        <td><%=eve.name %></td>
        <td><%=eve.description %></td>
        <td><%=eve.start_date %></td>
        <td><%=eve.end_date %></td>
    </tr>
    
<% end %>

</table>
<br>


<%# visitors %>
<table>
    <tr>
        <th>visitors </th>
        <th>email</th>
    </tr>
    
    
<% @location.visitors.each do |vi| %>
    <tr>
        <td> <%="#{vi.first_name} #{vi.last_name}" %></td>
        <td> <%=vi.email %></td>
    </tr>
    
<% end %>
    
</table>
<br>

