<%# show event @event.name, .description, .start_date, . end_date%>

<h2> <%=@event.name %></h2>
<p><%=@event.description %></p>
<p> <b>Start:</b> <%=@event.start_date %></p>
<p> <b>End:</b> <%=@event.end_date %></p>


<%# table, with location and description th %>
<table> 
    <tr>
        <th>location</th>
        <th>description</th>
    </tr>
<% @event.locations.each do |loc| %>
    <tr>
        <td><%=loc.name %></td>
        <td><%=loc.description %></td>
    </tr>
    
<% end %>

</table>
<br>

<%# participating users %>
<table>
    <tr>
        <th>participating</th>
        <th>email</th>
    </tr>
    
    
<% @event.participants.each do |part| %>
    <tr>
        <td> <%="#{part.first_name} #{part.last_name}" %></td>
        <td> <%=part.email %></td>
    </tr>
    
<% end %>
    
</table>
<br>

